.root {
	border-width: 2px;
	border-style: solid;
}

.white-border {
	border-color: #ffffff;	
}

.input {
	flex: 1 1 auto;
	outline: none;
	border: none;
	color: currentColor;
}

.button {
	display: flex;
	align-items: center;
	background-color: white;
	border: none;
	color: currentColor;
}

.disabled {
	border-color: rgba(249, 250, 251, 1);
	background-color: rgba(249, 250, 251,1);
	color: rgba(156, 163, 175, 1);
}